.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--header-text-color);
  }
  
  .app-name {
    display: flex;
    align-items: center;
    font-size: 30px
  }
  
  .app-name-text {
    font-size: 30px; /* Increased to match icon size */
    font-weight: bold;
    color: green;
    margin-left: 8px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 24px;
    color: var(--icon-color);
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  body.dark-mode {
    --header-bg-color: #333;
    --header-text-color: #fff;
    --icon-color: #fff;
  }
  
  body:not(.dark-mode) {
    --header-bg-color: #fff;
    --header-text-color: #000;
    --icon-color: #000;
  }
  