.task-list-container {
  padding: 20px;
  border-radius: 8px;
  width: calc(100% - 50px); /* Full width minus margins */
  margin: 20px; /* Same margins as TaskInput */
  box-sizing: border-box;
  border: none; /* Remove border outline */
  box-shadow: none; /* Remove box shadow */
}

.card-mode .task-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 3 cards per row minimum */
  gap: 20px; /* Gap between cards */
}

.card-mode .task-item {
  display: flex;
  flex-direction: column; /* Stack items vertically in card mode */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card-mode .task-content {
  display: flex;
  justify-content: space-between; /* Ensure space between text and icons */
}

.task-item {
  display: flex;
  justify-content: space-between; /* Ensure space between text and icons */
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
}

.task-content {
  display: flex;
  align-items: center;
}

.task-checkbox {
  margin-right: 10px;
}

.task-text {
  flex: 1;
  font-size: 18px; /* Increase font size */
  margin-right: 10px;
  overflow-wrap: break-word;
}

.task-text.completed {
  text-decoration: line-through;
  color: grey;
}

.task-icons {
  display: flex;
  align-items: center;
}

.task-edit, .task-star, .task-delete {
  cursor: pointer;
  margin-left: 10px;
  color: grey; /* Default color */
}

.task-star.filled {
  color: black; /* Color when filled */
}

body.dark-mode .task-star.filled {
  color: yellow; /* Color when filled in dark mode */
}

.task-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.completed-section {
  margin-top: 20px;
}

.completed-section h2 {
  margin-bottom: 10px;
}

.completed-task-item {
  display: flex; /* Change from grid to flex for consistency */
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
}

.completed-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}